/* Un commentaire*/
p.modifB
{   
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 12px;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
}